## Part 1 Correlation of Mean Annual Temperature with Altitude in Bavaria
In the first lectures we analysed the annual temperature in NRW by means of long time series. The observed temperature increase particularly in the last decade is most likely an indication of climate. We also observed that the station "Kahler Asten" shows systematic lower temperatures than other stations. We presumed this being an effect of decreasing temperature with topographic height, since "Kahler Asten" is among the highest points in NRW. 

Verify this hypothesis by means of data in Bavaria. This federal state reveals the broadest range of topographic heights, from 100m to more than 2800m above Normal-Null (NN).

## Task 1
Plot the annual mean temperatures of **years 2017, 2018, and 2019** versus altitude for the DWD stations in Bavaria. At first use the **altitudes from the station description file** `KL_Jahreswerte_Beschreibung_Stationen.txt` for the data set `/annual/kl/historical/`.

## Importing necessary libaries for Part 1

In [1]:
from datetime import datetime # used for time format conversion
import os # access to host system to create directories and write files
import ftplib # libary to access ftp server
import urllib3 
import codecs
from zipfile import ZipFile # used for unzipping zip files
import numpy as np # for replacing bad values with true NotaNumber from numpy
import time
import matplotlib.pyplot as plt
%matplotlib inline 
# making plots available in jupyter output line
import pandas as pd # for pandas dataframe to read csv
pd.options.display.max_seq_items = None # pandas printing options
# pd.set_option('display.max_rows', 500)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
# pd.set_option('display.width', 1000)

from sklearn.linear_model import LinearRegression # linear regression to calculate a trendline from data points, Task 4

## Defining variables

In [2]:
ftp_server = "opendata.dwd.de" # root of file server
ftp_user = "anonymous"
ftp_passwd = ""
ftp_dir =  "/climate_environment/CDC/observations_germany/climate/annual/kl/historical/" # directory
state = "Bayern" # Selected state to filter
years = [2017, 2018, 2019] # selected years
nyears = len(years) # length of years list
year_from = datetime.strptime(str(years[0])+"0101", '%Y%m%d') # lowest year from the list
year_to = datetime.strptime(str(years[nyears-1])+"1231", '%Y%m%d') # highest year from the list
stations_fname = "" # initializing variable

In [3]:
def connect_ftp(): # establishing connection to ftp server and check if it was successfull
    ftp = ftplib.FTP(ftp_server) # creating ftp server instance
    res = ftp.login(user = ftp_user, passwd = ftp_passwd) # logging in to server
    ret = ftp.cwd(ftp_dir) # Changing into correct ftp directory
    return ftp # return configured and connected ftp instance

In [4]:
def gen_df_ftp_dir():
    lines = [] # buffer for storing lines of ftp directory
    flist = [] # buffer for temporarily storing station_idm, zip file names and product file name
    try:
        res = ftp.retrlines("NLST", lines.append) # retrieve lines with NLST ftp command, which lsits file names including extention, the returned lines are appended to the lines buffer
    except:
        return
    global stations_fname # setting global variable to use filename later
    stations_fname = lines[0] # storing first line, which is the file name of the station description
    lines.pop(0) # removing station description file from buffer to read only zip files later
    for line in lines: # looping through elements of the lines buffer
        pname = "produkt_klima_jahr_"+line.split("_")[3]+"_"+line.split("_")[4]+"_"+line.split("_")[2]+".txt" # generating product file name
        flist.append([int(line.split("_")[2]), line, pname]) # reading variables into temporary list
    df_ftp_dir = pd.DataFrame(flist,columns=["station_id", "fname", "pname"]) # creating a pandas dataframe from flist, defining column names for elements in the list
    df_ftp_dir.set_index("station_id", inplace = True) # setting station_id column as index and replacing the standard numeration
    return df_ftp_dir # return the dataframe

In [5]:
def gen_df_station_desc():
    try:
        ftp.retrbinary('RETR '+ stations_fname, open(stations_fname, 'wb').write) # retrieve the binary code from the stations_fname file from ftp and writing to a newly opened file with the same filename
    except:
        return
    dateparse = lambda dates: [datetime.strptime(str(d), '%Y%m%d') for d in dates] # function for parsing the dates from the txt, for each column in a row the value is converted to a string and parsed into a datetime object
    df_station_desc = pd.read_fwf(stations_fname, skiprows = 2, header=None, parse_dates = [1,2], date_parser = dateparse) # encoding="utf8", 
    # Read the table of fixed-width formatted lines from stations_fname file into DataFrame, skipping 2 rows, do not set a header, so that indeces are used, the columns 1 "von_datum" and 2 "bis_datum" are parsed as dates with the function dateparse
    df_station_desc.columns = ["station_id", "date_from", "date_to", "altitude", "latitude", "longitude","name", "state"] # english column names are set
    df_station_desc.set_index("station_id", inplace = True) # setting station_id column as index and replacing the standard numeration
    return df_station_desc

In [6]:
def grab_stations(st_id):#, year):

    f_name = df_ftp_dir["station_id" == st_id]["fname"] # id from function, selecting corresponding row from ftp directory dataframe and the "fname" column and returning the value
    p_name = df_ftp_dir["station_id" == st_id]["pname"] # id from function, selecting corresponding row from ftp directory dataframe and the "pname" column and returning the value
    try:
        ftp.retrbinary('RETR ' + f_name, open( fname, 'wb').write) # retrieve the binary code from the fname zip file from ftp and writing to a newly opened file with the same filename
    except:
        return
    with ZipFile(f_name) as myzip: # recently downloaded file is initialized as ZipFile
        with myzip.open(p_name) as myfile: # zip file is opened and the containing product file is opened as myfile 
            df = pd.read_csv(myfile)
            print(df)
        
        '''
        with ZipFile(fname, 'r') as zipObj:
            zipObj.extract(pname, 'temp_csv')
        
        fname.unzip(pname)
        '''

In [ ]:
def download_stations():
    global local_zip_list
    local_zip_list = []
    for station_id in station_ids_selected:
        try:
            fname = df_zips["name"][station_id]
            grabFile(ftp_dir + fname, local_ftp_ts_dir + fname)
            local_p_list.append(fname)
        except:
            ("")

In [ ]:
def kl_ts_to_df(fname): 
    dateparse = lambda dates: [datetime.strptime(str(d), '%Y%m%d') for d in dates]
    df = pd.read_csv(fname, delimiter=";", encoding="utf8", index_col="MESS_DATUM_BEGINN", parse_dates = ["MESS_DATUM_BEGINN", "MESS_DATUM_ENDE"], date_parser = dateparse, na_values = [-999.0, -999])
    df = df[(df.index >= date_from) & (df.index <= date_to)]
    df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
    df.index.name = df.index.name.strip().lower().replace(' ', '_').replace('(', '').replace(')', '')
    return(df)

In [ ]:
def ts_merge():
    df = pd.DataFrame()
    for elt in local_zip_list:
        ffname = local_ftp_ts_dir + elt
        with ZipFile(ffname) as myzip:
            # read the time series data from the file starting with "produkt"
            prodfilename = [elt for elt in myzip.namelist() if elt.split("_")[0]=="produkt"][0] 
            with myzip.open(prodfilename) as myfile:
                dftmp = kl_ts_to_df(myfile)
                if len(dftmp) > 0:
                    s = dftmp["ja_tt"].rename(dftmp["stations_id"][0]).to_frame()
                    df = pd.merge(df, s, left_index=True, right_index=True, how='outer')
                else:
                    ("")
    df = df.dropna(axis='columns')
    df.index.rename(name = "time", inplace = True)
    return(df)

In [ ]:
def ts_append():
    df = pd.DataFrame()
    for elt in local_zip_list:
        ffname = local_ftp_ts_dir + elt
        with ZipFile(ffname) as myzip:
            prodfilename = [elt for elt in myzip.namelist() if elt.split("_")[0]=="produkt"][0]
            with myzip.open(prodfilename) as myfile:
                dftmp = kl_ts_to_df(myfile)
                if len(dftmp) > 0:
                    dftmp = dftmp.merge(df_stations,how="inner",left_on="stations_id",right_on="station_id",right_index=True)
                    df = df.append(dftmp)
                else:
                    ("")
    df.index.rename(name = "time", inplace = True)
    
    df.replace(to_replace = -999,value = (np.nan),inplace=True)
    
    df = df.dropna(subset = [(str(o1)),(str(o2))])
    
    #ind1 = df[df[str(o1)]==-999].index
    #df.drop(ind1,inplace=True)
    #ind2 = df[df[str(o2)]==-999].index
    #df.drop(ind2,inplace=True)
    return(df)

In [ ]:
def plot():
    retranslate = {"ja_tt":"Average Temperature","ja_tx":"Yearly Average Max Temperature","ja_tn":"Yearly Average Min Temperature","ja_fk":"Average Windforce","ja_sd_s":"Sum Yearly Sunshine Duration","ja_mx_tx":"Absolute Max Temperature","ja_mx_tn":"Absolute Min Temperature","ja_rr":"Sum Yearly Precipitation","ja_mx_rs":"Max Precipitation Height","altitude":"Altitude","latitude":"Latitude","longitude":"Longitude"}
    po1 = retranslate[(o1)]
    po2 = retranslate[(o2)]
    fpo1 = po1.replace(" ", "_")
    fpo2 = po2.replace(" ", "_")

    df_plot = df_appended_ts
    
    df_corr = pd.DataFrame(df_appended_ts.loc[:,o2])
    df_corr[o1] = df_appended_ts.loc[:,o1]
    Y = df_appended_ts.loc[:,o1].values.reshape(-1, 1)
    X = df_appended_ts.loc[:,o2].values.reshape(-1, 1)
    linear_regressor = LinearRegression()
    linear_regressor.fit(X, Y)
    score = linear_regressor.score(X, Y)
    Y_pred = linear_regressor.predict(X)

    
    fig1, ax1 = plt.subplots(dpi=136, figsize=(8,6))
    b = round((linear_regressor.intercept_[0]),4)
    m = round((linear_regressor.coef_[0][0]),4)
    sx = 0.35 * ax1.get_xlim()[1]
    sy = 1.69 * ax1.get_ylim()[0]
    r = round(score,4)
    ax1.plot(X, Y_pred, color='red')
    ax1.plot(df_plot[o2],df_plot[o1],".")
    ax1.set_ylabel(po1)
    ax1.set_xlabel(po2)
    ax1.set_title(po1+" vs. "+po2+" in Year " + year_selected + " at DWD Stations in " + state+"\ny="+str(m)+"*x+"+str(b)+", R^2= "+str(r))

    #ax1.text(x=sx,y=sy,s=("y="+str(m)+"*x + "+str(b)+", R^2= "+str(r)))

    ax1.grid(True)
    plt.show()
    fig1.savefig(fpo1+"_"+fpo2+"_"+year_selected+"_DWD_Stations_"+state+".png")
    print("A low R^2 value indicates, that the regression model is not fitting well (no strong correlation of data points).\n")

## Main run function

In [ ]:
print("Loading...\n")
process()
print("Plotting...\n")
plot()

In [ ]:
def process():
    ftp = connect_ftp()
    df_ftp_dir = gen_df_ftp_dir()
    df_station_desc = gen_df_station_desc()
    station_ids_selected = []
    grab_stations(station_ids_selected)

    download_stations()
    global df_merged_ts
    df_merged_ts = ts_merge()
    df_merged_ts.to_csv(local_ts_merged_dir + "ts_merged.csv",sep=";")
    global df_appended_ts = ts_append()
    df_appended_ts.to_csv(local_ts_appended_dir + "ts_appended.csv",sep=";")

In [6]:
ftp = connect_ftp()
df_ftp_dir = gen_df_ftp_dir()
df_station_desc = gen_df_station_desc()
station_query = df_station_desc.query('state == @state & date_from <= @year_from & date_to >= @year_to')
#for el in station_query["station_id"]:
    #print(el)
#grab_stations("000003")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xfc in position 320: invalid start byte

In [38]:
dateparse = lambda dates: [datetime.strptime(str(d), '%Y%m%d') for d in dates]
f_name = df_ftp_dir.loc[1,"fname"]
p_name = df_ftp_dir.loc[1,"pname"]
ftp.retrbinary('RETR ' + f_name, open( f_name, 'wb').write)
with ZipFile(f_name) as myzip:
    with myzip.open(p_name) as myfile:
        df = pd.read_csv(myfile, delimiter=";", encoding="utf8", parse_dates = ["MESS_DATUM_BEGINN", "MESS_DATUM_ENDE"], date_parser = dateparse, na_values = [-999.0, -999])
        #print(df["JA_TT"])
        print(df)

    STATIONS_ID MESS_DATUM_BEGINN MESS_DATUM_ENDE  QN_4  JA_N  JA_TT  JA_TX  \
0             1        1931-01-01      1931-12-31     5   NaN   7.52    NaN
1             1        1932-01-01      1932-12-31     5   NaN   8.12    NaN
2             1        1933-01-01      1933-12-31     5   NaN   7.68    NaN
3             1        1934-01-01      1934-12-31     5   NaN   9.31    NaN
4             1        1935-01-01      1935-12-31     5   NaN   8.41    NaN
5             1        1936-01-01      1936-12-31     5   NaN   8.59    NaN
6             1        1937-01-01      1937-12-31     5  4.95   8.59  13.29
7             1        1938-01-01      1938-12-31     5  4.61   8.18  13.48
8             1        1939-01-01      1939-12-31     5  5.48   7.99  12.23
9             1        1940-01-01      1940-12-31     5  4.95   7.07  11.85
10            1        1941-01-01      1941-12-31     5  5.02   7.61  12.39
11            1        1942-01-01      1942-12-31     5  4.91   7.95  13.05
12            1        1943-01-01      1943-12-31     5  4.67   9.57  15.02
13            1        1944-01-01      1944-12-31     5  5.26   8.22  12.99
14            1        1947-01-01      1947-12-31     5  4.71   9.38  14.89
15            1        1948-01-01      1948-12-31     5  5.04   8.82  14.37
16            1        1949-01-01      1949-12-31     5  4.60   9.27  15.34
17            1        1950-01-01      1950-12-31     5  5.10   8.80  14.39
18            1        1951-01-01      1951-12-31     5  5.47   8.74  13.93
19            1        1952-01-01      1952-12-31     5  5.52   8.33  13.76
20            1        1953-01-01      1953-12-31     5  5.24   8.19  13.81
21            1        1954-01-01      1954-12-31     5  5.84   7.49  12.61
22            1        1955-01-01      1955-12-31     5  5.55   7.87  12.83
23            1        1956-01-01      1956-12-31     5  5.80   7.27  11.84
24            1        1957-01-01      1957-12-31     5  5.50   8.56  13.47
25            1        1958-01-01      1958-12-31     5  5.70   8.55  13.34
26            1        1959-01-01      1959-12-31     5  4.86   8.86  14.09
27            1        1960-01-01      1960-12-31     5  5.90   8.25  13.02
28            1        1961-01-01      1961-12-31     5  5.24   9.12  14.38
29            1        1962-01-01      1962-12-31     5  5.10   7.22  12.34
30            1        1963-01-01      1963-12-31     5  5.53   7.22  12.15
31            1        1964-01-01      1964-12-31     5  5.67   8.48  13.18
32            1        1965-01-01      1965-12-31     5  5.92   7.41  12.01
33            1        1966-01-01      1966-12-31     5  5.49   8.61  13.49
34            1        1967-01-01      1967-12-31     5  5.16   8.57  13.78
35            1        1968-01-01      1968-12-31     5  5.74   8.26  12.95
36            1        1969-01-01      1969-12-31     5  5.11   7.91  12.52
37            1        1970-01-01      1970-12-31     5  5.50   7.90  12.38
38            1        1971-01-01      1971-12-31     5  4.85   8.02  13.23
39            1        1972-01-01      1972-12-31     5  5.51   7.65  12.44
40            1        1973-01-01      1973-12-31     5  5.48   7.86  12.57
41            1        1974-01-01      1974-12-31     5  5.80   8.62  13.18
42            1        1975-01-01      1975-12-31     5  5.60   8.55  12.91
43            1        1976-01-01      1976-12-31     5  5.19   8.45  13.38
44            1        1977-01-01      1977-12-31     5  5.93   8.61  13.14
45            1        1978-01-01      1978-12-31     5  5.87   7.53  12.10
46            1        1979-01-01      1979-12-31     5  5.73   8.20  13.06
47            1        1980-01-01      1980-12-31     5  5.65   7.41  12.25
48            1        1981-01-01      1981-12-31    10  5.62   8.17  13.15
49            1        1982-01-01      1982-12-31    10  5.49   8.60  13.39
50            1        1983-01-01      1983-12-31    10  5.16   8.61  13.83
51            1        1984-01-01      1984-12-31    10  5.38   7.73  12.62
52            1        1985-01-01      1985-12-31    10  5.13   7.55  13.00

    JA_TN  JA_FK  JA_SD_S  JA_MX_FX  JA_MX_TX  JA_MX_TN  QN_6   JA_RR  \
0    2.53    NaN      NaN       NaN       NaN       NaN     5   799.3
1    3.21    NaN      NaN       NaN       NaN       NaN     5   640.4
2    2.55    NaN      NaN       NaN       NaN       NaN     5   750.1
3    3.78    NaN      NaN       NaN       NaN       NaN     5   638.8
4    3.13    NaN      NaN       NaN       NaN       NaN     5   824.7
5    3.88    NaN      NaN       NaN       NaN       NaN     5   891.5
6    4.64   1.70      NaN       NaN      32.8     -11.0     5   817.4
7    3.78   1.34      NaN       NaN      31.5     -14.0     5   766.5
8    4.24   1.49      NaN       NaN      29.4     -21.2     5  1072.3
9    2.91   1.34      NaN       NaN      28.8     -20.4     5   966.2
10   3.23   1.43      NaN       NaN      33.6     -18.0     5   636.0
11   3.39   1.36      NaN       NaN      31.6     -23.2     5   734.3
12   4.68   1.36      NaN       NaN      38.2     -12.2     5   487.8
13   4.09   1.49      NaN       NaN      35.0     -12.0     5     NaN
14   4.37   1.21      NaN       NaN      37.2     -19.0     5   520.6
15   4.13   1.08      NaN       NaN      30.6     -13.2     5   613.0
16   3.96   1.14      NaN       NaN      35.0     -14.8     5   505.0
17   4.00   0.95      NaN       NaN      35.0     -12.6     5   774.9
18   4.05   0.96      NaN       NaN      32.2      -8.8     5   688.3
19   3.76   1.23      NaN       NaN      36.2     -12.8     5   927.7
20   3.65   0.92      NaN       NaN      31.4     -17.8     5   606.8
21   3.39   1.28      NaN       NaN      31.0     -16.0     5   876.6
22   3.25   1.39      NaN       NaN      31.8     -13.4     5   800.1
23   2.65   1.35      NaN       NaN      29.8     -23.0     5   675.1
24   3.89   1.16      NaN       NaN      34.8     -15.2     5   670.0
25   3.75   1.19      NaN       NaN      32.7     -13.2     5   855.0
26   3.35   1.43      NaN       NaN      32.4     -16.2     5   704.0
27   3.21   1.44      NaN       NaN      29.4     -20.8     5   913.2
28   3.78   1.57      NaN       NaN      32.2     -13.0     5   693.1
29   1.88   1.81      NaN       NaN      32.2     -18.0     5   629.7
30   2.20   1.58      NaN       NaN      32.8     -24.0     5   827.8
31   3.34   1.59      NaN       NaN      33.6     -18.0     5   720.6
32   2.74   1.74      NaN       NaN      30.8     -16.4     5  1140.9
33   3.68   1.68      NaN       NaN      32.0     -21.0     5   892.8
34   3.32   1.75      NaN       NaN      32.2     -16.6     5   733.0
35   3.40   1.70      NaN       NaN      30.6     -23.4     5   849.0
36   3.33   1.77      NaN       NaN      31.6     -16.2     5   776.6
37   3.45   1.87      NaN       NaN      33.2     -14.6     5   851.6
38   2.92   1.74      NaN       NaN      32.8     -18.8     5   599.3
39   3.10   1.87      NaN       NaN      30.5     -13.5     5   777.8
40   3.20   1.90      NaN       NaN      30.0     -20.4     5   754.1
41   4.28   2.06      NaN       NaN      32.6      -8.4     5   771.1
42   4.37   2.07      NaN       NaN      31.0     -16.2     5   847.4
43   3.60   2.10      NaN       NaN      33.0     -17.0     5   618.6
44   4.25   2.18      NaN       NaN      33.2      -9.6     5   813.5
45   2.91   2.00      NaN       NaN      30.0     -14.8     5   888.8
46   3.45   1.95      NaN       NaN      32.0     -19.5     5   776.7
47   2.91   1.95      NaN       NaN      33.0     -16.0     5   774.3
48   3.43   1.90      NaN       NaN      31.2     -16.0    10   866.3
49   4.19   1.94      NaN       NaN      31.6     -14.8    10   874.0
50   3.95   2.11      NaN       NaN      37.0     -13.0    10   731.5
51   3.33   1.89      NaN       NaN      34.0     -11.4    10   670.6
52   2.69   1.93      NaN       NaN      34.2     -26.0    10   568.9

    JA_MX_RS  eor
0       33.5  eor
1       41.4  eor
2       42.2  eor
3       49.8  eor
4       26.4  eor
5       32.4  eor
6       39.1  eor
7       30.2  eor
8       36.2  eor
9       38.7  eor
10      24.1  eor
11      36.2  eor
12      22.0  eor
13      38.6  eor
14      30.8  eor
15      33.8  eor
16      29.4  eor
17      39.0  eor
18      28.6  eor
19      60.5  eor
20      41.7  eor
21      43.0  eor
22      49.8  eor
23      38.9  eor
24      32.8  eor
25      31.7  eor
26      45.5  eor
27      40.8  eor
28      23.7  eor
29      22.7  eor
30      46.6  eor
31      40.8  eor
32      65.0  eor
33      32.2  eor
34      25.0  eor
35      53.2  eor
36      31.8  eor
37      26.5  eor
38      47.6  eor
39      52.4  eor
40      47.5  eor
41      55.7  eor
42      70.5  eor
43      35.5  eor
44      31.2  eor
45      67.2  eor
46      26.8  eor
47      35.2  eor
48      29.6  eor
49      55.5  eor
50      34.0  eor
51      29.8  eor
52      21.7  eor

In [8]:
df_ftp_dir

,fname,pname
station_id,,
1,jahreswerte_KL_00001_19310101_19851231_hist.zip,produkt_klima_jahr_19310101_19851231_00001.txt
3,jahreswerte_KL_00003_18510101_20101231_hist.zip,produkt_klima_jahr_18510101_20101231_00003.txt
44,jahreswerte_KL_00044_19720101_20191231_hist.zip,produkt_klima_jahr_19720101_20191231_00044.txt
52,jahreswerte_KL_00052_19730101_20011231_hist.zip,produkt_klima_jahr_19730101_20011231_00052.txt
61,jahreswerte_KL_00061_19760101_19771231_hist.zip,produkt_klima_jahr_19760101_19771231_00061.txt
...,...,...
15963,jahreswerte_KL_15963_19530101_20031231_hist.zip,produkt_klima_jahr_19530101_20031231_15963.txt
15965,jahreswerte_KL_15965_19700101_19831231_hist.zip,produkt_klima_jahr_19700101_19831231_15965.txt
15979,jahreswerte_KL_15979_19480101_19781231_hist.zip,produkt_klima_jahr_19480101_19781231_15979.txt
16085,jahreswerte_KL_16085_19610101_19611231_hist.zip,produkt_klima_jahr_19610101_19611231_16085.txt
19087,jahreswerte_KL_19087_19580101_19941231_hist.zip,produkt_klima_jahr_19580101_19941231_19087.txt

In [9]:
station_query

,date_from,date_to,altitude,latitude,longitude,name,state
station_id,,,,,,,
73,1953-01-01,2020-12-31,340,48.6159,13.0506,Aldersbach-Kriestorf,Bayern
142,1955-01-01,2020-12-31,511,48.4060,11.3117,Altom�nster-Maisbrunn,Bayern
151,1881-01-01,2020-12-31,382,49.4691,11.8546,Amberg-Unterammersricht,Bayern
154,1994-01-01,2020-12-31,516,48.0197,12.2925,Amerang-Pfaffing,Bayern
191,1884-01-01,2020-12-31,217,49.9694,9.9114,Arnstein-M�desheim,Bayern
...,...,...,...,...,...,...,...
7412,2006-10-01,2020-12-31,340,50.0083,9.4238,Neuh�tten/Spessart,Bayern
7424,2007-01-01,2020-12-31,457,47.7724,12.9073,Piding,Bayern
7431,2008-01-01,2020-12-31,604,48.0130,11.5524,Oberhaching-Laufzorn,Bayern
13710,2009-01-01,2020-12-31,490,48.5734,12.2576,Landshut-Reithof,Bayern
15555,2017-01-01,2020-12-31,815,47.8761,10.5849,Kaufbeuren-Oberbeuren,Bayern